/*colors*/
$primary: #6B6B6B;
$secondary: #F2F2F2;
$tertiary: #D3D3D3;
$quaternary: #0B0A07;

#canvas-container {
	width: 100%;
	text-align: center;
}

#fretCanvas {
	opacity: 0.35;
}

.btn {
	color: $primary;
	background-color: $secondary;
	border-color: white;
}

.btn:hover {
	color: grey;
	background: $tertiary;
	border-color: white;
}

.btn:visited {
	color: $primary;
	border-color: $quaternary;
}