/*colors*/
$primary: #171717;
$secondary: #F2F2F2;
$tertiary: #D3D3D3;
$quaternary: #0B0A07;

/****** NAVBAR ********/

#logInOut li {
	cursor: pointer;
}

/****** FRETBOARD STYLING ********/
#canvas-container {
	width: 100%;
	text-align: center;
}

#fretCanvas {
	opacity: 0.6;
	// padding: 2%;
}

/******** STYLIN' THE BUTTONS *******/
#btn-wrap {
	width: 40%;
	float: left;
}

.btn {
	color: $primary;
	background-color: $secondary;
	border-color: white;
}

#chordBtns:hover {
	// width: 2em;
	// height: 2em;
}

#selectBtn button:hover {
	color: $primary;
	background-color: $secondary;
	background-image: none;
	// outline: 0;
	// -webkit-box-shadow: none;
	// 		box-shadow: none;
}

// this is the select Key and Type button
#selectBtn {
	margin-top: 30px;
}

#selectBtn button:hover {
	font-size: 1.075em;
	color: grey;
	background: $tertiary;
	// border-color: white;
}

#saveBtn {
	margin-left: -3%;
	margin-top: 8px;
	padding-right: 0;
}

#saveBtn button {
	font-size: 1.035em;
	margin-left: 0;
}


.btn:visited {
	color: $primary;
	border-color: $quaternary;
}

.btn-space {
    margin-right: 2%;
}

/******* STRING SELECTORS ********/
#stringSelect {
	color: $primary;
	margin-top: 15px;
	// clear: none;
}

#stringSelect h4 {
	color: #4F4F4F;
	text-align: center;
	padding-right: 11.7%;
}

#stringSelect p {
	text-align: center;
}

#selectAll {
	font-size: 1.1em;
	color: #4F4F4F;
	padding-right: 33.2%;
	cursor: pointer;
	margin-bottom: 8px;
	margin-top: 2%;
}

#checkboxes {
	padding-right: none;
}


/***** THIS IS FOR THE MODAL - ORGANIZING CHORD BUTTONS *****/
.modal-flexy {
	// display: flex;
	// flex-wrap: wrap;
	column-count: 3;
	// -webkit-column-count: 3;
	// justify-content: space-around;
	// justify-content: flex-start;
}

// #chord-btn-div button:hover {
// 	background-color: $tertiary;
// }

// .btn-group>.btn:first-child:hover {
// 	color: grey;
// 	background: $tertiary;
// }

ul li {
	list-style-type: none;
}


#nameAndSpelling {
	margin-top: 10px;
	margin-left: -8%;
}

#nameAndSpelling li {
	font-size: 1.075em;
	border-style: none;
	padding: 10px;
	color: $primary;
	background-color: none;
}

//  PROFILE.HTML - SAVED CHORDS

#savedChords {
	border-radius: 5%;
}













