<div id="homeContainer" class="container">
  <div id="btn-wrap" class="wrapper">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-flexy">
            <div class="modal-body" id="modal-body" ng-repeat="item in chordList.Chords">
                <div id="chord-btn-div" class="btn-group">
                    <label class="btn btn-primary" id="chordBtns" ng-model="radioModel" uib-btn-radio="" ng-click="selected.item = item[0]">{{item[0].name}}</label>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn-large btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn-large btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>


    <!-- SELECT KEY AND TYPE BUTTON (opens modal) -->
    <div id="selectBtn">
        <button type="button" class="btn btn-default text-left" ng-click="open('lg')" ng-model="singleModel" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
        Select Key and Type
        </button>
    </div>


    <!-- SAVE BUTTON (for logged in user to save to their profile) -->
    <div class="container" id="saveBtn">
      <button type="button" class="btn" ng-click="addChord()">Save Chord</button>
    </div>


    <!-- DISPLAY CHORD NAME AND SPELLING -->
    <div id="nameSpell">
        <ul id="nameAndSpelling">
            <li>Chord name: {{selectedChord.name}}</li>
            <li>Chord spelling: {{selectedChord.spelling}}</li>
        </ul>
    </div>
  </div>

    <!--_____________________ STRING SELECTOR ____________________-->
    <!-- USE A FILTER - FOR THE SCOPE VARIABLE FOR THE STRINGS -->
    <div id="stringSelect" class="container text-right">
      <h4>Select Strings</h4>
      <p>Choose which strings will display notes:</p>
        <div id="selectAll">
          <input type="checkbox" ng-click="toggleSelect($event)"/> Select All <br />
        </div>

        <div id="checkboxes" class="checkbox-inline" ng-repeat="checkbox in checkboxes">
           <input type="checkbox" name="{{checkbox.name}}" value="{{checkbox.value}}" ng-click="clearParent()" ng-model="checkbox.selected">{{checkbox.label}}
        </div>
      </div>
    </div>
</div>
