<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-flexy">
        <div class="modal-body" id="modal-body" ng-repeat="item in chordList.Chords">
            <div class="btn-group">
                <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="" ng-click="selected.item = item[0]">{{item[0].name}}</label>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</script>

    <ul>
      <li>Chord name:{{selectedChord.name}}</li>
      <li>Chord spelling:{{selectedChord.spelling}}</li>
    </ul>

<div id="selectBtn">
    <button type="button" class="btn btn-default text-left" ng-click="open('lg')" ng-model="singleModel" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
    Select Key and Type
    </button>
</div>

<div id="stringSelect" class="container text-right">
  <h4>Select Strings</h4>
  <p>Choose which strings will display notes:</p>
  <form>
    <label class="checkbox-inline">
      <input type="checkbox" value="">String 1
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" value="">String 2
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" value="">String 3
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" value="">String 4
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" value="">String 5
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" value="">String 6
    </label>
  </form>
</div>

