<nav ng-controller="NavCtrl" id="nav" class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
  			<a class="navbar-brand" href="#">Fretboard Theory</a>
		</div>

		<div ng-controller="AuthCtrl" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      		<ul id="logInOut" class="nav navbar-nav navbar-right">
		        <li><a ng-href="#!/profile">Profile</a></li>
		        <li><a ng-click="googleLogIn()" ng-show="!isLoggedIn">Login</a></li>
		        <li><a ng-click="logout()" ng-show="isLoggedIn">Logout</a></li>
      		</ul>
    	</div>

	</div>
</nav>